/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

.App,
#changeBtn {
  margin: 2%;
}

.dataCon{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  text-align: center;
  margin: 50px 0px;
}

.names-btn{
  margin: 20px 0px;
  background-color: rgb(77, 138, 253);
}

.add-name-form{
  display: flex;
  flex-direction: column;
}

.add-name{
  margin-bottom: 15px;
}

.name-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.name-link{
  text-decoration: none;
  font-weight: 600;
      text-decoration: none;
        font-weight: 600;
        
        padding: 8px 25px;
        border-radius: 12px;
        color: black;
        flex: 4;
}

.name-item{
margin: 30px 0px;
width: 50%;
display: flex;
align-items: center;
justify-content: space-evenly;
border: 2px solid;
  
}

.fns{
  padding: 10px 15px;
  margin: 30px auto;
  display: flex;
}

.delete-btn{
      background-color: #d9534f;
        color: white;
        padding: 10px 20px;
        border: none;
        flex: 1;
        border-radius: 10px;
}
.delete-btn-modal {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border: none;
  
  border-radius: 10px;
}
.cancel-btn-modal {
  /* background-color: #d9534f; */
  color: black;
  padding: 10px 20px;
  border: none;
  margin: 20px;

  border-radius: 10px;
}

.gods{
  display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px;
  }
.god-img{
  height: 120px!important;
}
.bill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bill-print{
    border: none;
      background-color: #5cb85c;
  
      display: flex;
      color: white;
      margin: 30px auto;
      box-shadow: black 3px 4px 12px;
     
      padding: 10px 20px;
      font-weight: 600;
      border-radius: 9px;
}

.single-bill{
  margin: 50px 0px;
  border: 2px dotted black;
}

.single-bill-table{
  font-size: 10px;
}
.names-sect{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.two-bill:nth-child(2n+1){
  page-break-before: always!important;
  /* border-bottom: 20px solid green; */
}

.fif-bill:nth-child(35n+1) {
  page-break-before: always !important;
  /* border-bottom: 20px solid green; */
}

.all-bill{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
}

h1{
  text-align: center;
}

.single-bill-table2{
  font-size: 7px;
}

.shree-img{
  height: 100px;
  display: flex;
  margin: auto;
}